.Button {
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    background-color: #F4595B;
    border-radius: 8px;
    border-bottom: 4px solid #C24648;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
}

.Button:hover {
    background-color: #FF7375;
    border: none;
    border-radius: 8px;
    border-bottom: 4px solid #C24648;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
    cursor:pointer
}